body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*!  background: url("../img/bg07.jpg"); */
  background-size: 100% 100%;
  padding: 0 40px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}
#grid .card {
  background-color: #ccc;
  width: 200px;
  height: 100px;
  transition: all 0.1s ease;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  overflow: hidden;
  cursor: pointer;
}
#grid .card:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
#grid .card:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
#grid .card .reflection {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  transition: all 0.1s ease;
  opacity: 0;
  mix-blend-mode: soft-light;
}
#grid .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(0.65);
          filter: grayscale(0.65);
  transition: all 0.3s ease;
}





/*!widget/header/header.css*/
.header{position:relative;margin-top:16px;min-width:900px}.header-action{padding-left:10px}.header-action>li{padding:0 10px;height:30px;line-height:30px}.header-action>li.profile{padding-left:10px;display:flex;cursor:pointer}.header-action>li>a{text-decoration:underline}.light .header-action>li>a,.light .header-action>li>span{color:#fff}.switch-action{position:relative;cursor:pointer}.switch-action .new{padding:0 4px;background-color:#fa4242;color:#fff;margin-right:4px;font-family:Arial}.switch-action.has-update i{display:block}.switch-action i{display:none;position:absolute;width:6px;height:6px;right:-10px;top:-4px;background:#F81F1F;border:2px solid #EFEFEF;border-radius:10px;overflow:hidden}.header-action>li img{vertical-align:middle;height:28px;width:28px;border-radius:50%;position:relative;top:-2px}.profile .line{color:#ddd;margin-right:20px}.profile .login{text-decoration:none}.profile-dropdown{float:right;position:relative;margin-left:10px}.profile-continer{background-color:#f8f8f8;position:absolute;right:0;top:28px;z-index:3;border:1px solid #DDD;box-shadow:0 2px 4px 0 rgba(0,0,0,.1);display:none}.profile:hover .profile-continer{display:block}.profile-detail{padding:0 20px 10px;min-width:200px}.profile-detail h4{margin:6px 0}.profile-detail p{white-space:nowrap}.profile-detail .grade{background-color:#f5a623;padding:0 5px;margin-left:5px;color:#fef7ec}.profile-detail .use-space-info{color:#666;font-size:11px}.profile-detail .async-date{color:#999;font-size:10px}.profile-detail .progress{height:4px;border-radius:10px;background:#D8D8D8;position:relative}.progress .extend{height:4px;background:linear-gradient(-204deg,#0AF 0,#057CFF 100%);position:absolute}.profile-continer>ul{border-top:1px solid #DDD;background-color:#fff;padding:6px 0}.profile-continer li{padding:0 20px}.profile-continer li:hover{background-color:rgba(0,0,0,.06)}.profile-continer li>a{display:block}.gl{width:20px;height:25px;position:absolute;background:transparent url(//pc-newtab.maxthonimg.com/static/img/icon/union.png?v=20190708) no-repeat -146px -126px;cursor:pointer;display:none}.gl.lt{background-position-y:-153px}.gl.gt{background-position-y:-129px}.light .gl{background-position-x:-168px}.light .gl.lt{background-position-y:-153px}.light .gl.gt{background-position-y:-130px}
